<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sample blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Sample blog</a></h1>
        </div>

        <div>
            <p>published: 20.01.2020, 14:37</p>
            <h2><a href="">First post</a></h2>
            <p><strong>POWEEEEEEEEER!!!!!!!</strong></p>
        </div>


        <div>
            <p>published: 20.01.2020, 14:37</p>
            <h2><a href="">Second post</a></h2>
            <p><strong>POWEEEEEERRRRRRR!!!!!!!</strong></p>
        </div>
    </body>
</html>